<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="container">
  <h2>Login</h2>

  <form action="/sessions/logon" method="POST">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
    </div>

<div>
  <button type="submit">Log In</button>
  <form action="/sessions/register" method="GET" style="display:inline;">
    <button type="submit">Register</button>
  </form>
</div>


  </form>
</div>

<%- include('partials/footer') %>
