<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="container">
  <h2>Login</h2>

  <form action="/api/v1/auth/login" method="POST">
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
    </div>

    <div>
      <button type="submit">Log In</button>
      <a href="/register">
        <button type="button">Register</button>
      </a>
    </div>
  </form>
</div>

<%- include('partials/footer') %>
