<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="container">
  <h2>Register</h2>

  <form action="/sessions/register" method="POST">
     <input type="hidden" name="_csrf" value=" <%= _csrf %> " />
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
    </div>

    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required />
    </div>

    <div>
      <button type="submit">Register</button>
      <a href="/sessions/logon">
        <button type="button">Back to Login</button>
      </a>
    </div>
  </form>
</div>

<%- include('partials/footer') %>
